body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    background-color: rgb(51, 51, 51);
    overflow: hidden;
}

#sidebar {
    background-color: rgb(37, 37, 38);
    flex: 0 1 200px;
    height: 100vh;
}

#page-container {
    display: flex
}

#svg-container {
    flex: 1 0;
    height: 100vh;
}

#svg-content {
    display: inline-block;
    background-color: rgb(30, 30, 30);
    height: 100%;
    width: 100%;
}

button {
    font-size: 24px;
    color: rgb(133, 133, 133);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    border: 0;
    width: 100%;
}

button:hover {
    color: white;
}

#chart {
    fill: blueviolet;
}